# What is your Name and E-mail

NAME: DUBBAKA SRIKANTH                                                                                                 
EMAIL: srikanthdubbaka123@gmail.com

In [1]:
# create numpy in 5 builtin methods. 
#import numpy
import numpy as np
#created list
List=[0,1,2,3,4,5,6,7,8,9,10]
print("1.The list is:")
print(List)

#array of list
array= np.array(List)
print("2.array of list is:")
print(array)

#dtype=float
arrayis = np.array(List,dtype="float")
print("3.dtype =float--array is:")
print(arrayis)

#array-dtype
print("4.data type of array is:")
print(array.dtype)

#list is in dtype=int
arrayis = np.array(List,dtype="int")
print("5.The array of dtype=int is:")
print(arrayis)

#find array of alpha
a=['a','b','c']
b = np.array(a)
print("6.The array of alphabets(a) is:")
print(b)
print("7.data type of array of alphabets is:")
print(b.dtype)

1.The list is:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2.array of list is:
[ 0  1  2  3  4  5  6  7  8  9 10]
3.dtype =float--array is:
[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
4.data type of array is:
int32
5.The array of dtype=int is:
[ 0  1  2  3  4  5  6  7  8  9 10]
6.The array of alphabets(a) is:
['a' 'b' 'c']
7.data type of array of alphabets is:
<U1

In [2]:
# perform 4 operations on matrices
import numpy as np
# define a Python matrix with data elements in it
list = [[ 'sri', 1, 2, 3],
        ["raj", 4, 5, 6],
        [7, "raghu", 8, 9]]
print("1.Python matrix with data elements in list is:")
print(list)
# define the length of the list

print("2.length of list:")
print(len(list))

print("3.add two matrices using Numpy")
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
c = np.add(a, b)
print(c)
print("4.subtract two matrices using Numpy")
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
c = np.subtract(a, b)
print(c)

1.Python matrix with data elements in list is:
[['sri', 1, 2, 3], ['raj', 4, 5, 6], [7, 'raghu', 8, 9]]
2.length of list:
3
3.add two matrices using Numpy
[[ 6  8]
 [10 12]]
4.subtract two matrices using Numpy
[[-4 -4]
 [-4 -4]]

In [3]:
#Inverse of matrix
import numpy as np

a = np.array([[1, 2, 3], [1, 3, 3], [1, 2, 4]])
invofa= np.linalg.inv(a)

print(invofa)

[[ 6. -2. -3.]
 [-1.  1.  0.]
 [-1.  0.  1.]]

In [4]:
# write a custom operation function and verctorize it. 
# be careful while intializing applying on big matrices
import numpy as np
def func1(a, b):
    if a > b:
        return a - b
    else:
        return a + b
vfun = np.vectorize(func1)
x=vfun([1, 2, 3, 4], 5)
print(x)

[6 7 8 9]

In [5]:
# import numpy and pandas
import pandas as pd
import numpy as np

In [6]:
# import data into dataframes
company = pd.read_csv(r'G:\company.csv',delimiter='\t')
rounds = pd.read_csv(r'G:\rounds2.csv',encoding='iso-8859-1')
# we imported two files rounds and company. we have 2 dataframes

In [7]:
# convert rounds dataframe into numpy array
company.to_numpy()

array([['/Organization/-Fame', '#fame', 'http://livfame.com', ...,
        'Mumbai', 'Mumbai', nan],
       ['/Organization/-Qounter', ':Qounter', 'http://www.qounter.com',
        ..., 'DE - Other', 'Delaware City', '04-09-2014'],
       ['/Organization/-The-One-Of-Them-Inc-', '(THE) ONE of THEM,Inc.',
        'http://oneofthem.jp', ..., nan, nan, nan],
       ...,
       ['/Organization/Ã\x81Eron', 'Ã\x81ERON', 'http://www.aeron.hu/',
        ..., nan, nan, '01-01-2011'],
       ['/Organization/Ã”Asys-2', 'Ã”asys', 'http://www.oasys.io/', ...,
        'SF Bay Area', 'San Francisco', '01-01-2014'],
       ['/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-Hizmetleri-Tic',
        'Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic',
        'http://inovatiff.com', ..., nan, nan, nan]], dtype=object)

In [8]:
# convert rounds dataframe into numpy array
rounds.to_numpy()

array([['/organization/-fame',
        '/funding-round/9a01d05418af9f794eebff7ace91f638', 'venture',
        'B', '05-01-2015', 10000000.0],
       ['/ORGANIZATION/-QOUNTER',
        '/funding-round/22dacff496eb7acb2b901dec1dfe5633', 'venture',
        'A', '14-10-2014', nan],
       ['/organization/-qounter',
        '/funding-round/b44fbb94153f6cdef13083530bb48030', 'seed', nan,
        '01-03-2014', 700000.0],
       ...,
       ['/organization/ã\x81eron',
        '/funding-round/59f4dce44723b794f21ded3daed6e4fe', 'venture',
        'A', '01-08-2014', nan],
       ['/ORGANIZATION/Ã\x94ASYS-2',
        '/funding-round/35f09d0794651719b02bbfd859ba9ff5', 'seed', nan,
        '01-01-2015', 18192.0],
       ['/organization/ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic',
        '/funding-round/af942869878d2cd788ef5189b435ebc4', 'grant', nan,
        '01-10-2013', 14851.0]], dtype=object)

## print basic imformation like shape,info(company)

In [9]:
company

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [10]:
#print basic imformation like shape,info
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [11]:
# print basic imformation like shape,info
company.describe

<bound method NDFrame.describe of                                                permalink  \
0                                    /Organization/-Fame
1                                 /Organization/-Qounter
2                    /Organization/-The-One-Of-Them-Inc-
3                                  /Organization/0-6-Com
4                         /Organization/004-Technologies
...                                                  ...
66363  /Organization/Zznode-Science-And-Technology-Co...
66364                          /Organization/Zzzzapp-Com
66365                               /Organization/ÃEron
66366                             /Organization/Ã”Asys-2
66367  /Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...

                                                name  \
0                                              #fame
1                                           :Qounter
2                             (THE) ONE of THEM,Inc.
3                                            0-6.com
4                                   004 Technologies
...                                              ...
66363                  ZZNode Science and Technology
66364                          Zzzzapp Wireless ltd.
66365                                         ÃERON
66366                                         Ã”asys
66367  Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic

                            homepage_url  \
0                     http://livfame.com
1                 http://www.qounter.com
2                    http://oneofthem.jp
3                     http://www.0-6.com
4      http://004gmbh.de/en/004-interact
...                                  ...
66363              http://www.zznode.com
66364             http://www.zzzzapp.com
66365               http://www.aeron.hu/
66366               http://www.oasys.io/
66367               http://inovatiff.com

                                           category_list     status  \
0                                                  Media  operating
1      Application Platforms|Real Time|Social Network...  operating
2                                      Apps|Games|Mobile  operating
3                                            Curated Web  operating
4                                               Software  operating
...                                                  ...        ...
66363                                Enterprise Software  operating
66364        Advertising|Mobile|Web Development|Wireless  operating
66365                                                NaN  operating
66366  Consumer Electronics|Internet of Things|Teleco...  operating
66367                 Consumer Goods|E-Commerce|Internet  operating

      country_code state_code                 region           city  \
0              IND         16                 Mumbai         Mumbai
1              USA         DE             DE - Other  Delaware City
2              NaN        NaN                    NaN            NaN
3              CHN         22                Beijing        Beijing
4              USA         IL  Springfield, Illinois      Champaign
...            ...        ...                    ...            ...
66363          CHN         22                Beijing        Beijing
66364          HRV         15                  Split          Split
66365          NaN        NaN                    NaN            NaN
66366          USA         CA            SF Bay Area  San Francisco
66367          NaN        NaN                    NaN            NaN

       founded_at
0             NaN
1      04-09-2014
2             NaN
3      01-01-2007
4      01-01-2010
...           ...
66363         NaN
66364  13-05-2012
66365  01-01-2011
66366  01-01-2014
66367         NaN

[66368 rows x 10 columns]>

In [12]:
# print basic imformation like shape,info
company.shape

(66368, 10)

# print basic imformation like shape,info(Rounds)

In [13]:
rounds

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [14]:
rounds.describe

<bound method NDFrame.describe of                                                 permalink  \
0                                     /organization/-fame
1                                  /ORGANIZATION/-QOUNTER
2                                  /organization/-qounter
3                     /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                   /organization/0-6-com
...                                                   ...
114944                          /organization/zzzzapp-com
114945                          /ORGANIZATION/ZZZZAPP-COM
114946                               /organization/ãeron
114947                             /ORGANIZATION/ÃASYS-2
114948  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

       funding_round_code   funded_at  raised_amount_usd
0                       B  05-01-2015         10000000.0
1                       A  14-10-2014                NaN
2                     NaN  01-03-2014           700000.0
3                       B  30-01-2014          3406878.0
4                       A  19-03-2008          2000000.0
...                   ...         ...                ...
114944                NaN  01-03-2014            41313.0
114945                NaN  01-05-2013            32842.0
114946                  A  01-08-2014                NaN
114947                NaN  01-01-2015            18192.0
114948                NaN  01-10-2013            14851.0

[114949 rows x 6 columns]>

In [15]:
rounds.info

<bound method DataFrame.info of                                                 permalink  \
0                                     /organization/-fame
1                                  /ORGANIZATION/-QOUNTER
2                                  /organization/-qounter
3                     /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                   /organization/0-6-com
...                                                   ...
114944                          /organization/zzzzapp-com
114945                          /ORGANIZATION/ZZZZAPP-COM
114946                               /organization/ãeron
114947                             /ORGANIZATION/ÃASYS-2
114948  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

       funding_round_code   funded_at  raised_amount_usd
0                       B  05-01-2015         10000000.0
1                       A  14-10-2014                NaN
2                     NaN  01-03-2014           700000.0
3                       B  30-01-2014          3406878.0
4                       A  19-03-2008          2000000.0
...                   ...         ...                ...
114944                NaN  01-03-2014            41313.0
114945                NaN  01-05-2013            32842.0
114946                  A  01-08-2014                NaN
114947                NaN  01-01-2015            18192.0
114948                NaN  01-10-2013            14851.0

[114949 rows x 6 columns]>

In [16]:
rounds.shape

(114949, 6)

In [17]:
#convert all the permalink column values into lowercase in both dataframes
x=company.permalink.str.lower()
x

0                                      /organization/-fame
1                                   /organization/-qounter
2                      /organization/-the-one-of-them-inc-
3                                    /organization/0-6-com
4                           /organization/004-technologies
                               ...
66363    /organization/zznode-science-and-technology-co...
66364                            /organization/zzzzapp-com
66365                                 /organization/ãeron
66366                               /organization/ã”asys-2
66367    /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...
Name: permalink, Length: 66368, dtype: object

In [18]:
#convert all the permalink column values into lowercase in both dataframes
y=rounds.permalink.str.lower()
y

0                                       /organization/-fame
1                                    /organization/-qounter
2                                    /organization/-qounter
3                       /organization/-the-one-of-them-inc-
4                                     /organization/0-6-com
                                ...
114944                            /organization/zzzzapp-com
114945                            /organization/zzzzapp-com
114946                                 /organization/ãeron
114947                               /organization/ãasys-2
114948    /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...
Name: permalink, Length: 114949, dtype: object

In [19]:
#check how many unique values in permalink columns in both the dataframes
unique_values_company= company.nunique()
unique_values_company

permalink        66368
name             66102
homepage_url     61191
category_list    27296
status               4
country_code       137
state_code         311
region            1092
city              5111
founded_at        3978
dtype: int64

In [20]:
#check how many unique values in permalink columns in both the dataframes
unique_values_rounds= company.nunique()
unique_values_rounds

permalink        66368
name             66102
homepage_url     61191
category_list    27296
status               4
country_code       137
state_code         311
region            1092
city              5111
founded_at        3978
dtype: int64

In [21]:
# merge two dataframes into one master frame (on permalink)
add_company_rounds=[company,rounds]   
add_company_rounds

[                                               permalink  \
 0                                    /Organization/-Fame
 1                                 /Organization/-Qounter
 2                    /Organization/-The-One-Of-Them-Inc-
 3                                  /Organization/0-6-Com
 4                         /Organization/004-Technologies
 ...                                                  ...
 66363  /Organization/Zznode-Science-And-Technology-Co...
 66364                          /Organization/Zzzzapp-Com
 66365                               /Organization/ÃEron
 66366                             /Organization/Ã”Asys-2
 66367  /Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...

                                                 name  \
 0                                              #fame
 1                                           :Qounter
 2                             (THE) ONE of THEM,Inc.
 3                                            0-6.com
 4                                   004 Technologies
 ...                                              ...
 66363                  ZZNode Science and Technology
 66364                          Zzzzapp Wireless ltd.
 66365                                         ÃERON
 66366                                         Ã”asys
 66367  Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic

                             homepage_url  \
 0                     http://livfame.com
 1                 http://www.qounter.com
 2                    http://oneofthem.jp
 3                     http://www.0-6.com
 4      http://004gmbh.de/en/004-interact
 ...                                  ...
 66363              http://www.zznode.com
 66364             http://www.zzzzapp.com
 66365               http://www.aeron.hu/
 66366               http://www.oasys.io/
 66367               http://inovatiff.com

                                            category_list     status  \
 0                                                  Media  operating
 1      Application Platforms|Real Time|Social Network...  operating
 2                                      Apps|Games|Mobile  operating
 3                                            Curated Web  operating
 4                                               Software  operating
 ...                                                  ...        ...
 66363                                Enterprise Software  operating
 66364        Advertising|Mobile|Web Development|Wireless  operating
 66365                                                NaN  operating
 66366  Consumer Electronics|Internet of Things|Teleco...  operating
 66367                 Consumer Goods|E-Commerce|Internet  operating

       country_code state_code                 region           city  \
 0              IND         16                 Mumbai         Mumbai
 1              USA         DE             DE - Other  Delaware City
 2              NaN        NaN                    NaN            NaN
 3              CHN         22                Beijing        Beijing
 4              USA         IL  Springfield, Illinois      Champaign
 ...            ...        ...                    ...            ...
 66363          CHN         22                Beijing        Beijing
 66364          HRV         15                  Split          Split
 66365          NaN        NaN                    NaN            NaN
 66366          USA         CA            SF Bay Area  San Francisco
 66367          NaN        NaN                    NaN            NaN

        founded_at
 0             NaN
 1      04-09-2014
 2             NaN
 3      01-01-2007
 4      01-01-2010
 ...           ...
 66363         NaN
 66364  13-05-2012
 66365  01-01-2011
 66366  01-01-2014
 66367         NaN

 [66368 rows x 10 columns],
                                                 permalink  \
 0                                     /organization/-fame
 1                                  /ORGANIZATION/-QOUNTER
 2                                  /organization/-qounter
 3                     /ORGANIZATION/-THE-ONE-OF-THEM-INC-
 4                                   /organization/0-6-com
 ...                                                   ...
 114944                          /organization/zzzzapp-com
 114945                          /ORGANIZATION/ZZZZAPP-COM
 114946                               /organization/ãeron
 114947                             /ORGANIZATION/ÃASYS-2
 114948  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                                 funding_round_permalink funding_round_type  \
 0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
 1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
 2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
 3       /funding-round/650b8f704416801069bb178a1418776b            venture
 4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
 ...                                                 ...                ...
 114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
 114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
 114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
 114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
 114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

        funding_round_code   funded_at  raised_amount_usd
 0                       B  05-01-2015         10000000.0
 1                       A  14-10-2014                NaN
 2                     NaN  01-03-2014           700000.0
 3                       B  30-01-2014          3406878.0
 4                       A  19-03-2008          2000000.0
 ...                   ...         ...                ...
 114944                NaN  01-03-2014            41313.0
 114945                NaN  01-05-2013            32842.0
 114946                  A  01-08-2014                NaN
 114947                NaN  01-01-2015            18192.0
 114948                NaN  01-10-2013            14851.0

 [114949 rows x 6 columns]]

In [22]:
from functools import reduce
data_merge=reduce(lambda left, right:
                 pd.merge(left,right,how="outer" ),add_company_rounds)
print(data_merge)

                                                permalink  \
0                                     /Organization/-Fame
1                                  /Organization/-Qounter
2                     /Organization/-The-One-Of-Them-Inc-
3                                   /Organization/0-6-Com
4                          /Organization/004-Technologies
...                                                   ...
181312                          /ORGANIZATION/ZZZZAPP-COM
181313                          /ORGANIZATION/ZZZZAPP-COM
181314                               /organization/ãeron
181315                             /ORGANIZATION/ÃASYS-2
181316  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                          name                       homepage_url  \
0                        #fame                 http://livfame.com
1                     :Qounter             http://www.qounter.com
2       (THE) ONE of THEM,Inc.                http://oneofthem.jp
3                      0-6.com                 http://www.0-6.com
4             004 Technologies  http://004gmbh.de/en/004-interact
...                        ...                                ...
181312                     NaN                                NaN
181313                     NaN                                NaN
181314                     NaN                                NaN
181315                     NaN                                NaN
181316                     NaN                                NaN

                                            category_list     status  \
0                                                   Media  operating
1       Application Platforms|Real Time|Social Network...  operating
2                                       Apps|Games|Mobile  operating
3                                             Curated Web  operating
4                                                Software  operating
...                                                   ...        ...
181312                                                NaN        NaN
181313                                                NaN        NaN
181314                                                NaN        NaN
181315                                                NaN        NaN
181316                                                NaN        NaN

       country_code state_code                 region           city  \
0               IND         16                 Mumbai         Mumbai
1               USA         DE             DE - Other  Delaware City
2               NaN        NaN                    NaN            NaN
3               CHN         22                Beijing        Beijing
4               USA         IL  Springfield, Illinois      Champaign
...             ...        ...                    ...            ...
181312          NaN        NaN                    NaN            NaN
181313          NaN        NaN                    NaN            NaN
181314          NaN        NaN                    NaN            NaN
181315          NaN        NaN                    NaN            NaN
181316          NaN        NaN                    NaN            NaN

        founded_at                          funding_round_permalink  \
0              NaN                                              NaN
1       04-09-2014                                              NaN
2              NaN                                              NaN
3       01-01-2007                                              NaN
4       01-01-2010                                              NaN
...            ...                                              ...
181312         NaN  /funding-round/6ba41360588bc6e3f77e9b50a0ebfafa
181313         NaN  /funding-round/ff1aa06ed5da186c84f101549035d4ae
181314         NaN  /funding-round/59f4dce44723b794f21ded3daed6e4fe
181315         NaN  /funding-round/35f09d0794651719b02bbfd859ba9ff5
181316         NaN  /funding-round/af942869878d2cd788ef5189b435ebc4

       funding_round_type funding_round_code   funded_at  raised_amount_usd
0                     NaN                NaN         NaN                NaN
1                     NaN                NaN         NaN                NaN
2                     NaN                NaN         NaN                NaN
3                     NaN                NaN         NaN                NaN
4                     NaN                NaN         NaN                NaN
...                   ...                ...         ...                ...
181312               seed                NaN  01-08-2013            33149.0
181313               seed                NaN  01-05-2013            32842.0
181314            venture                  A  01-08-2014                NaN
181315               seed                NaN  01-01-2015            18192.0
181316              grant                NaN  01-10-2013            14851.0

[181317 rows x 15 columns]

# masterframe will have around 114949 rows, If not please recheck the code.

ROWS: 181317 ; COLUMNS: 15

In [23]:
# check percentage of missing values in each column
company["permalink"].isnull().sum()/len(company["permalink"])

0.0

In [25]:
# check percentage of missing values in each column
company["name"].isnull().sum()/len(company["name"])

1.5067502410800386e-05

In [26]:
# check percentage of missing values in each column
company["homepage_url"].isnull().sum()/len(company["homepage_url"])

0.07621142719382835

In [27]:
# check percentage of missing values in each column
company["category_list"].isnull().sum()/len(company["category_list"])

0.04743249758919962

In [28]:
# check percentage of missing values in each column
company["status"].isnull().sum()/len(company["status"])

0.0

In [29]:
# check percentage of missing values in each column
company["country_code"].isnull().sum()/len(company["country_code"])

0.10483968177434909

In [30]:
# check percentage of missing values in each column
company["state_code"].isnull().sum()/len(company["state_code"])

0.1287819431051109

In [31]:
# check percentage of missing values in each column
company["region"].isnull().sum()/len(company["region"])

0.1209920443587271

In [32]:
# check percentage of missing values in each column
company["city"].isnull().sum()/len(company["city"])

0.1209619093539055

In [33]:
# check percentage of missing values in each column
company["founded_at"].isnull().sum()/len(company["founded_at"])

0.22934245419479268

In [34]:
# check percentage of missing values in each column
rounds["permalink"].isnull().sum()/len(rounds["permalink"])

0.0

In [35]:
# check percentage of missing values in each column
rounds["funding_round_permalink"].isnull().sum()/len(rounds["funding_round_permalink"])

0.0

In [36]:
# check percentage of missing values in each column
rounds["funding_round_type"].isnull().sum()/len(rounds["funding_round_type"])

0.0

In [37]:
# check percentage of missing values in each column
rounds["funding_round_code"].isnull().sum()/len(rounds["funding_round_code"])

0.7290972518247223

In [38]:
# check percentage of missing values in each column
rounds["funded_at"].isnull().sum()/len(rounds["funded_at"])

0.0

In [39]:
# check percentage of missing values in each column
rounds["raised_amount_usd"].isnull().sum()/len(rounds["raised_amount_usd"])

0.17390320924931926

In [40]:
# drop all the rows where 'raised_amount_usd' value is zero.
rounds = rounds[rounds.raised_amount_usd.isin(rounds) == False]
rounds

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [41]:
# drop funding_round_code,funded_at columns

rounds

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [42]:
# aggregate rows with funding_type and print mean investment for each type
# you can use grouping
rounds.set_index(['funding_round_type']).mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of                                                             permalink  \
funding_round_type
venture                                           /organization/-fame
venture                                        /ORGANIZATION/-QOUNTER
seed                                           /organization/-qounter
venture                           /ORGANIZATION/-THE-ONE-OF-THEM-INC-
venture                                         /organization/0-6-com
...                                                               ...
convertible_note                            /organization/zzzzapp-com
seed                                        /ORGANIZATION/ZZZZAPP-COM
venture                                          /organization/ãeron
seed                                           /ORGANIZATION/ÃASYS-2
grant               /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                                            funding_round_permalink  \
funding_round_type
venture             /funding-round/9a01d05418af9f794eebff7ace91f638
venture             /funding-round/22dacff496eb7acb2b901dec1dfe5633
seed                /funding-round/b44fbb94153f6cdef13083530bb48030
venture             /funding-round/650b8f704416801069bb178a1418776b
venture             /funding-round/5727accaeaa57461bd22a9bdd945382d
...                                                             ...
convertible_note    /funding-round/8f6d25b8ee4199e586484d817bceda05
seed                /funding-round/ff1aa06ed5da186c84f101549035d4ae
venture             /funding-round/59f4dce44723b794f21ded3daed6e4fe
seed                /funding-round/35f09d0794651719b02bbfd859ba9ff5
grant               /funding-round/af942869878d2cd788ef5189b435ebc4

                   funding_round_code   funded_at  raised_amount_usd
funding_round_type
venture                             B  05-01-2015         10000000.0
venture                             A  14-10-2014                NaN
seed                              NaN  01-03-2014           700000.0
venture                             B  30-01-2014          3406878.0
venture                             A  19-03-2008          2000000.0
...                               ...         ...                ...
convertible_note                  NaN  01-03-2014            41313.0
seed                              NaN  01-05-2013            32842.0
venture                             A  01-08-2014                NaN
seed                              NaN  01-01-2015            18192.0
grant                             NaN  01-10-2013            14851.0

[114949 rows x 5 columns]>

In [72]:
# find out which funding_type have more funding. the retain the rows of
# that paticular type and delete other rows. 
rounds["raised_amount_usd"].value_counts()

#rounds["funding_round_type"].value_counts()

1000000.0     2860
2000000.0     2225
500000.0      2145
5000000.0     2057
10000000.0    2052
              ...
9259078.0        1
2665127.0        1
353102.0         1
782660.0         1
14851.0          1
Name: raised_amount_usd, Length: 22095, dtype: int64

In [115]:
#rounds.drop(["raised_amount_usd"!=1000000.0],axis=1)
drop_raised_amount_usd=rounds[rounds.raised_amount_usd =="10000000.0"]
#print(drop_raised_amount_usd)
print([rounds.raised_amount_usd==10000000.0])

[0          True
1         False
2         False
3         False
4         False
          ...
114944    False
114945    False
114946    False
114947    False
114948    False
Name: raised_amount_usd, Length: 114949, dtype: bool]

In [120]:
result_df=  rounds.loc[rounds['raised_amount_usd']==10000000.0]
result_df

,permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
52,/organization/1006-tv,/funding-round/b6aeb7401ec6993f92a16cbca153b600,venture,B,31-07-2014,10000000.0
133,/ORGANIZATION/17-MEDIA,/funding-round/f8ffde9fa822843ac6ea9b66cc615df1,venture,A,05-11-2015,10000000.0
141,/ORGANIZATION/17ZUOYE,/funding-round/8d87f771e938e0f31641bd600abbafca,venture,B,01-09-2013,10000000.0
190,/organization/1st-merchant-funding,/funding-round/ed21cc0e56104c9e20611730a5ebefc1,debt_financing,NaN,07-05-2014,10000000.0
...,...,...,...,...,...,...
114711,/ORGANIZATION/ZPOWER,/funding-round/a8d010b9de7c04c98dad65033d381a40,venture,NaN,28-05-2014,10000000.0
114742,/organization/zubie,/funding-round/c834914cc13644c86b33542a0622ee8e,venture,A,12-12-2013,10000000.0
114799,/ORGANIZATION/ZUNIVERSITY-COM,/funding-round/a058abef15e17654e754acd8d4303af8,venture,B,10-01-2001,10000000.0
114861,/ORGANIZATION/ZYGA-TECHNOLOGY,/funding-round/00d2d8d0c604892594b4bd25cf7e18b8,venture,C,16-12-2013,10000000.0
114908,/organization/zynga,/funding-round/66d64809546fe2031d3479161e3c88f9,venture,A,01-01-2008,10000000.0

In [143]:
URL = "https://en.wikipedia.org/wiki/List_of_territorial_entities_where_English_is_an_official_language"
# use above link and extract all english( as primary language) speaking countries. 
'''
#-------------------this code will help you to get countries table
tables = pd.read_html(URL)
table=tables[1]
countries=pd.DataFrame(table)

you manually need to clean table for better understanding
'''
english_language_speaking=pd.read_html("https://en.wikipedia.org/wiki/List_of_territorial_entities_where_English_is_an_official_language")
english_language_speaking

[                                 Country ISO code      Geographic region  \
 0                    Antigua and Barbuda      ATG              Caribbean
 1                         The Bahamas[1]      BHS              Caribbean
 2                            Barbados[2]      BRB              Caribbean
 3                              Belize[3]      BLZ        Central America
 4                            Botswana[3]      BWA                 Africa
 5                             Burundi[4]      BDI                 Africa
 6                            Cameroon[1]      CMR                 Africa
 7                                 Canada      CAN          North America
 8                            Dominica[1]      DMA              Caribbean
 9                            Eswatini[1]      SWZ                 Africa
 10                               Fiji[1]      FJI                Oceania
 11                         The Gambia[1]      GMB                 Africa
 12                              Ghana[1]      GHA                 Africa
 13                            Grenada[1]      GRD              Caribbean
 14                             Guyana[5]      GUY          South America
 15                           India[3][6]      IND                   Asia
 16                         Ireland[7][8]      IRL                 Europe
 17                            Jamaica[9]      JAM              Caribbean
 18                              Kenya[1]      KEN                 Africa
 19                           Kiribati[1]      KIR                Oceania
 20                            Lesotho[1]      LSO                 Africa
 21                            Liberia[1]      LBR                 Africa
 22                            Malawi[10]      MWI                 Africa
 23                              Malta[1]      MLT                 Europe
 24                   Marshall Islands[1]      MHL                Oceania
 25                          Mauritius[1]      MUS  Africa / Indian Ocean
 26                         Micronesia[1]      FSM                Oceania
 27                            Namibia[1]      NAM                 Africa
 28                             Nauru[11]      NRU                Oceania
 29                        Nigeria[1][12]      NGA                 Africa
 30                           Pakistan[1]      PAK                   Asia
 31                              Palau[3]      PLW                Oceania
 32              Papua New Guinea[13][14]      PNG                Oceania
 33                       The Philippines      PHL                   Asia
 34                            Rwanda[15]      RWA                 Africa
 35             Saint Kitts and Nevis[16]      KNA              Caribbean
 36                        Saint Lucia[1]      LCA              Caribbean
 37  Saint Vincent and the Grenadines[17]      VCT              Caribbean
 38                             Samoa[18]      WSM                Oceania
 39                         Seychelles[1]      SYC  Africa / Indian Ocean
 40                       Sierra Leone[1]      SLE                 Africa
 41                             Singapore      SGP                   Asia
 42                    Solomon Islands[1]      SLB                Oceania
 43                      South Africa[19]      ZAF                 Africa
 44                       South Sudan[20]      SSD                 Africa
 45                              Sudan[1]      SDN                 Africa
 46                           Tanzania[1]      TZA                 Africa
 47                             Tonga[21]      TON                Oceania
 48                Trinidad and Tobago[1]      TTO              Caribbean
 49                             Tuvalu[3]      TUV                Oceania
 50                            Uganda[22]      UGA                 Africa
 51                           Vanuatu[23]      VUT                Oceania
 52                             Zambia[1]      ZMB                 Africa
 53                           Zimbabwe[1]      ZWE                 Africa

     Population1                                  Primary language?
 0         85000                Yes (English-based creole language)
 1        331000                Yes (English-based creole language)
 2        294000                Yes (English-based creole language)
 3        288000                Yes (English-based creole language)
 4       1882000                                                Yes
 5      10114505                                                 No
 6      22534532  No (co-official with French, but only spoken p...
 7      38048738  Yes (Co-official with French, and a predominan...
 8         73000                 Yes (French-based creole language)
 9       1141000                                                 No
 10       828000  Yes (used as lingua franca, mostly and widely ...
 11      1709000                                                Yes
 12     27000000                        Yes (used as lingua franca)
 13       111000                Yes (English-based creole language)
 14       738000                Yes (English-based creole language)
 15   1247540000                  No (but official and educational)
 16      4900000                         Yes (Irish is co-official)
 17      2714000                Yes (English-based creole language)
 18     45010056               Yes (used in business and education)
 19        95000                                                 No
 20      2008000                                                 No
 21      3750000                                                Yes
 22     16407000                        Yes (used as lingua franca)
 23       430000      No (but official and in business / education)
 24        59000                                                 No
 25      1262000                                                Yes
 26       110000                                                Yes
 27      2074000                         No (used as lingua franca)
 28        10000                             No (but widely spoken)
 29    182202000                    Yes (used as official language)
 30    212742631                  No (but official and educational)
 31        20000                                                 No
 32      7059653                 Yes (but official and educational)
 33    110864327                 Yes (but official and educational)
 34     13240439                                                 No
 35        50000                Yes (English-based creole language)
 36       165000                 Yes (French-based creole language)
 37       120000                Yes (English-based creole language)
 38       188000                                                 No
 39        87000                                                 No
 40      6190280                Yes (English-based creole language)
 41      5469700  Yes (official language, lingua franca, mostly ...
 42       507000                                                Yes
 43     54956900  Yes (official, educational and lingua franca i...
 44     12340000                                                Yes
 45     40235000                                                 No
 46     51820000                                                 No
 47       100000                                                 No
 48      1333000                Yes (English-based creole language)
 49        11000                                                 No
 50     47053690                         No (used as lingua franca)
 51       226000                                                 No
 52     16212000                        Yes (used as lingua franca)
 53     13061239                         No (used as lingua franca)  ,
            Country ISO code Geographic region  Population1 Primary language?
 0        Australia      AUS           Oceania     25795700               Yes
 1  New Zealand[24]      NZL           Oceania      4893830               Yes
 2   United Kingdom      GBR            Europe     66040229               Yes
 3    United States      USA     North America    328239523               Yes,
                      Country ISO code            Geographic region  \
 0            Bahrain[25][26]      BHR           Asia / Middle East
 1             Bangladesh[27]      BGD                         Asia
 2                 Bhutan[28]      BTN                         Asia
 3               Cambodia[29]      KHM                         Asia
 4                 Cyprus[30]      CYP  Europe / Asia / Middle East
 5                 Eritrea[1]      ERI                       Africa
 6                Ethiopia[1]      ETH                       Africa
 7         Israel[31][32][33]      ISR           Asia / Middle East
 8                 Jordan[34]      JOR           Asia / Middle East
 9                 Kuwait[35]      KWT           Asia / Middle East
 10                  Malaysia      MYS                         Asia
 11              Maldives[36]      MDV                         Asia
 12               Myanmar[37]      MMR                         Asia
 13                  Oman[38]      OMN           Asia / Middle East
 14                 Qatar[39]      QAT           Asia / Middle East
 15         Sri Lanka[40][41]      LKA                         Asia
 16  United Arab Emirates[42]      ARE           Asia / Middle East

     Population1
 0       1378000
 1     150039000
 2        727145
 3      15288489
 4       1141166
 5       6234000
 6      85000000
 7       8051200
 8       9882401
 9       4348395
 10     32730000
 11       427756
 12     51486253
 13      4424762
 14      2675522
 15     20277597
 16      9809000  ,
                          Entity         Region  Population1  \
 0         Akrotiri and Dhekelia         Europe        15700
 1              American Samoa11        Oceania        67700
 2                   Anguilla[1]      Caribbean        18090
 3                   Bermuda9[1]  North America        65000
 4     British Virgin Islands[1]      Caribbean        23000
 5             Cayman Islands[3]      Caribbean        47000
 6             Cook Islands[1]14        Oceania        20000
 7                   Curaçao[43]      Caribbean       150563
 8              Falkland Islands  South America         3000
 9                  Gibraltar[1]         Europe        33000
 10                        Guam4        Oceania       173000
 11                Hong Kong2[1]           Asia      7097600
 12                 Isle of Man8         Europe        80058
 13                   Jersey6[1]         Europe        89300
 14                    Niue[1]14        Oceania         1600
 15            Norfolk Island[1]        Oceania         1828
 16    Northern Mariana Islands7        Oceania        53883
 17        Pitcairn Islands13[1]        Oceania           50
 18                 Puerto Rico3      Caribbean      3991000
 19                       Rotuma        Oceania         1594
 20             Sint Maarten[45]      Caribbean        40900
 21  Turks and Caicos Islands[1]      Caribbean        26000
 22         U.S. Virgin Islands5      Caribbean       111000

                                     Primary language?
 0                                                  No
 1                              No (official language)
 2                  No (English-based creole language)
 3                                                 Yes
 4                  No (English-based creole language)
 5                  No (English-based creole language)
 6                                                  No
 7                                                  No
 8                                                 Yes
 9                                                 Yes
 10                    Yes (Co-official with Chamorro)
 11  No (but de jure and de facto co-official with ...
 12                                                Yes
 13                                                Yes
 14                                                 No
 15                 No (English-based creole language)
 16                    Yes (Co-official with Chamorro)
 17                                                Yes
 18  No (co-official with Spanish as the primary la...
 19                                                 No
 20                 No (English-based creole language)
 21                 No (English-based creole language)
 22                 No (English-based creole language)  ,
                                             Entity          Region  \
 0                                          Barbuda       Caribbean
 1                   British Indian Ocean Territory    Indian Ocean
 2                                       Guernsey10          Europe
 3                                    Montserrat[1]       Caribbean
 4  Saint Helena, Ascension and Tristan da Cunha[3]  South Atlantic

    Population1
 0         1300
 1         3000
 2        61811
 3         5900
 4         5660  ,
                          Entity     Region  Population1
 0         Christmas Island12[1]  Australia         1508
 1  Cocos (Keeling) Islands16[1]  Australia          596
 2                   Tokelau[46]    Oceania         1400,
                                           Subdivision         Country  \
 0                                         Alabama[47]   United States
 1                                          Alaska[48]   United States
 2                                         Arizona[49]   United States
 3                                        Arkansas[47]   United States
 4                                      California[47]   United States
 5                                        Colorado[47]   United States
 6                                         Florida[47]   United States
 7                                         Georgia[47]   United States
 8                                          Hawaii[47]   United States
 9                                           Idaho[47]   United States
 10                                       Illinois[47]   United States
 11                                        Indiana[47]   United States
 12                                           Iowa[47]   United States
 13                                         Kansas[47]   United States
 14                                       Kentucky[47]   United States
 15                                  Massachusetts[50]   United States
 16                                    Mississippi[47]   United States
 17                                       Missouri[47]   United States
 18                                        Montana[47]   United States
 19                                       Nebraska[47]   United States
 20                                  New Hampshire[47]   United States
 21                                 North Carolina[47]   United States
 22                                   North Dakota[47]   United States
 23                               Northern Ireland[51]  United Kingdom
 24                                       Oklahoma[52]   United States
 25  North Caribbean Coast Autonomous Region[53][ci...       Nicaragua
 26  South Caribbean Coast Autonomous Region[54][ci...       Nicaragua
 27                                           Saba[55]     Netherlands
 28                       San Andrés y Providencia[56]        Colombia
 29                                Sarawak[57][58][59]        Malaysia
 30                                       Scotland[60]  United Kingdom
 31                                 Sint Eustatius[55]     Netherlands
 32                                 South Carolina[47]   United States
 33                                   South Dakota[47]   United States
 34                                      Tennessee[47]   United States
 35                                           Utah[47]   United States
 36                                       Virginia[47]   United States
 37                                          Wales[61]  United Kingdom
 38                                  West Virginia[62]   United States
 39                                        Wyoming[47]   United States

              Region  Population
 0     North America     4833722
 1     North America      735132
 2     North America     6626624
 3     North America     2959373
 4     North America    38332521
 5     North America     5268367
 6     North America    21299325
 7     North America    10519475
 8           Oceania     1404054
 9     North America     1612136
 10    North America    12882135
 11    North America     6570902
 12    North America     3090416
 13    North America     2893957
 14    North America     4395295
 15    North America     6794422
 16    North America     2991207
 17    North America     6083672
 18    North America     1015165
 19    North America     1868516
 20    North America     1323459
 21    North America     9848060
 22    North America      723393
 23           Europe     1876695
 24    North America     3850568
 25  Central America      480874
 26  Central America      385102
 27        Caribbean        1991
 28    South America       75167
 29             Asia     2471140
 30           Europe     5424800
 31        Caribbean        3897
 32    North America     4774839
 33    North America      844877
 34    North America     6495978
 35    North America     2900872
 36    North America     8260405
 37           Europe     3125000
 38    North America     1844128
 39    North America      582658  ,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteCountries and languages lists  \
 0   CountriesBy languagesSpoken Countries by spoke...
 1                                           Countries
 2   By languagesSpoken Countries by spoken languag...
 3                                        By languages
 4                                              Spoken
 5                                            Official
 6                                            Endonyms
 7                                             Exonyms
 8   LanguagesBy continent Africa Americas North So...
 9                                           Languages
 10  By continent Africa Americas North South Asia ...
 11                                       By continent
 12                                         By country
 13                                      By population
 14                                          By family
 15            Language-basedgeopoliticalorganizations
 16                                           See also


In [241]:
#print(drop_raised_amount_usd)
#print([english_language_speaking.Country.head(3)])
import matplotlib.pyplot as plt
import pandas as pd
english_language_speaking.Country.value_counts()

Australia          1
New Zealand[24]    1
United Kingdom     1
United States      1
Name: Country, dtype: int64

In [144]:
'''
#-------------------this code will help you to get countries table
tables = pd.read_html(URL)
table=tables[1]
countries=pd.DataFrame(table)

you manually need to clean table for better understanding
'''
english_language_speaking=english_language_speaking[1]
english_language_speaking_countries=pd.DataFrame(english_language_speaking)
english_language_speaking_countries

           Country ISO code Geographic region  Population1 Primary language?
0        Australia      AUS           Oceania     25795700               Yes
1  New Zealand[24]      NZL           Oceania      4893830               Yes
2   United Kingdom      GBR            Europe     66040229               Yes
3    United States      USA     North America    328239523               Yes

In [172]:
# now group data by country code (as per country code is given dataframe) 
# find out top 10 countries with highest funding. (raised_amount_usd is the column to aggregate)
"""result_df =  english_language_speaking.loc[english_language_speaking['Country']==english]
result_df  """
from pandas.api.types import is_numeric_dtype

english_language_speaking_countries = []

for raised_amount_usd in english_language_speaking.columns:
    top_values = []
    if is_numeric_dtype(english_language_speaking[raised_amount_usd]):
        top_values = english_language_speaking[raised_amount_usd].nlargest(n=10)
        english_language_speaking_countries.append(pd.DataFrame({raised_amount_usd: top_values}).reset_index(drop=True))
pd.concat(english_language_speaking_countries, axis=1)

   Population1
0    328239523
1     66040229
2     25795700
3      4893830

In [209]:
# find out top 3 english speaking countries to invest.(based on raised amount of investment)
# you should get. [United States of America , India, United Kingdom]
english_language_speaking.value_counts()

Country          ISO code  Geographic region  Population1  Primary language?
Australia        AUS       Oceania            25795700     Yes                  1
New Zealand[24]  NZL       Oceania            4893830      Yes                  1
United Kingdom   GBR       Europe             66040229     Yes                  1
United States    USA       North America      328239523    Yes                  1
dtype: int64

In [1]:
abc=english_language_speaking[english_language_speaking.Country =="Population1"]
#print(drop_raised_amount_usd)
#print([english_language_speaking.Country.head(3)])
import matplotlib.pyplot as plt
import pandas as pd
temp = english_language_speaking.groupby(['Country']).sum()['Population1']

plt.pie(temp.values,labels=temp.index,colors=['red','green','blue','orange','black','brown'])

plt.show()

NameError: name 'english_language_speaking' is not defined

# Plese explain how would you split investment percentage amoung these countries and why
# this question is understand your business prespective.
"""sir, Im srikanth sri G-17 python. here we are having manyways to find how to split 
investment percentage amoung these countries. I thought to do by visualizing the data.
so i used the above link and extracted all english speaking countries. Now i tried to clean 
some data with that i will able to understand the data properly.after that we can observe heighest funding
countries.As you asked top 3 english speaking countries to invest i thought to do By showing in pie chart.
"""

# how do you decide, What value should be imputed in missing place.
# this is subjective question. write your own answer based on what you understood.
"""Its upon the data what we have recieved. some times we can fill some null values for understanding purpose.
but it willnot work every time. as we observe some bank data sets, data will be different for differnet persons.
banker wants to know what kind of people he should  approach so that he can make more people sign up for personal
loans using the data he collected. so data is very important but the way someone visualise the data is the 
important thing. so according to data we have to imputed in missing places"""